<h1>Farms</h1>
<a routerLink="create" class="btn btn-sm btn-success mb-2">Create Farm</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Owner</th>
            <th style="width: 10%">Size</th>
            <th style="width: 10%">Unit</th>
            <th style="width: 25%">Address</th>
            <th style="width: 15%">Coordinates</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let farm of farms">
            <td>{{farm.name}}</td>
            <td>{{farm.owner}}</td>
            <td>{{farm.size}}</td>
            <td>{{farm.sizeUnit}}</td>
            <td>{{farm.city}}, {{farm.country}}, {{farm.province}}</td>
            <td>{{farm.latitude}},{{farm.longitude}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{farm.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteFarm(farm.id)" class="btn btn-sm btn-danger btn-delete-farm" [disabled]="farm.isDeleting">
                    <span *ngIf="farm.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!farm.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!farms">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>